.contentBx-heading {
  color: ivory;
  font-size: 1.5rem !important;
}
.contentBx-description {
  color: ivory;
  font-size: .8rem;
}
.contentBx {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 80px;
  right: 80px;
  background: rgba(0,0,0,.9);
  transform: translateZ(20px) scaleY(0);
  padding: 15px 25px;
  transform-origin: top;
  transition: .5s;
  transform-style: preserve-3d;
  border-radius: 10px;
}
.card {
  transform-style: preserve-3d;
}

.card:hover .contentBx {
  -webkit-box-shadow: 7px 6px 21px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 21px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 21px -6px rgba(0,0,0,0.75);  transform: translateZ(50px) scaleY(1);
}
.card:hover img {
  filter: blur(2px);
}
.card-deck:not(:first-child) {
  margin-top: 5%;
}
@media only screen and (max-width: 379px) {
  .contentBx {
    top: 5%;
    left: 10px;
    right: 10px;
    padding: 10px 10px;
  }
  .contentBx-heading {
    font-size: 1.2rem !important;
  }
  .heading-1 {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 450px) and (min-width:380px) {
  .contentBx {
    top: 10%;
    left: 20px;
    right: 20px;
    padding: 10px 10px;
  }
  .contentBx-heading {
    font-size: 1.2rem !important;
  }
  .heading-1 {
    font-size: 3rem;
  }

}
.view-btn {
  border-radius: 40px;
}
.view-btn:hover {
  background: ivory;
  color: #121212;
}
.project-link {
  text-decoration: none;
  color: #121212 !important;
}
.heading-1 {
  font-size: 3.8rem;
  font-family: '28days';
}
.project-link {
  text-decoration: none;
  color: ivory;
}
